@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #5429CC;
  --lighter-purple: #B59AFF;
  --red: #E52E4D;
  --green: #12A454;
  --lighter-green: #33CC95;
  --blue: #363F5F;
}
